/* Estilos para el Navbar */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001A29;
  position: relative;
  height: var(--altura-nav);
  transition: background-color 0.3s ease;
  width: 100%;
  z-index: 2;
}

.Navbar.open {
  background-color: #001a29a7;
}

.Navbar .menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.Navbar .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.Navbar .menu {
  display: flex;
  align-items: center;
  margin: 5px;
  margin-left: 20px;
  gap: 5px;
}

.Navbar .menu.open {
  transform: translateX(0);
}

.Navbar .bar.open:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.Navbar .bar.open:nth-child(2) {
  opacity: 0;
}

.Navbar .bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

.Navbar .navLogo {
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
  color: #001A29;
}

.Navbar .navLogo.open {
  color: #fff;
}

.Navbar .items a {
  margin: 15px;
  color: #ffffff;
  text-decoration: none;
}

.Navbar .items a:hover {
  color: #939393;
}
