@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{

    scroll-behavior: smooth;
  }

body{
    font-family: 'Anek Bangla', sans-serif;
}

/* SECTION CURSOS  */
.fondoNubes{
    background-image: url("/assets/fondoNubes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    width: 100%;
}

/* SECTION FOOTER  */
.fondoFooter{
    background-image: url("/assets/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.fondoMail{
    background-image: url("/assets/avionFondoMail.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/* CARD MAPA  */
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 52, 89, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.fondoPrincipal{
    background-image: url("/assets/fondoPrincipal.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh; 
    width: 100%¡; 
    position: relative;
    z-index: 0;

}

/* FONDO PORTADA NOSOTROS  */
.fondoPortadaNosotros{
    background-image: url("/assets/portadaNosotros.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoBlurNosotros{
    backdrop-filter: blur(4px) saturate(128%);
    -webkit-backdrop-filter: blur(4px) saturate(128%);
    background-color: rgba(68, 70, 71, 0.42);
}

.fondoFlota{
    background-image: url("/assets/cieloFlota.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.borderFlota{
    border-radius: 0px 10px 0px 0px ;
  }

.fondoBlurFlota{
    backdrop-filter: blur(6px) saturate(181%);
    -webkit-backdrop-filter: blur(6px) saturate(181%);
    background-color: rgba(109, 109, 109, 0.44);
}

.reflejo {
    transition: opacity 1s ease, -webkit-box-reflect 1s ease;
}

.reflejo:hover {
    opacity: 0.8; /* Cambia la propiedad que deseas animar */
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

/* FONDO PORTADA CURSOS  */
.fondoPortadaCursos{
    background-image: url("/assets/fondoPortadaCusos.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoBlurCursos{
    backdrop-filter: blur(4px) saturate(128%);
    -webkit-backdrop-filter: blur(4px) saturate(128%);
    background-color: rgba(68, 70, 71, 0.42);
}

.fondoFraseCurso{
    background-image: url("/assets/cieloFlota.png");
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoBlurCursosFrase{
    backdrop-filter: blur(4px) saturate(128%);
    -webkit-backdrop-filter: blur(4px) saturate(128%);
    background-color: rgba(42, 42, 42, 0.524);
}

/* Estilos para el Navbar */
.navBar{
    position: fixed;
    top: 0; 
    height: 5em;
    display: flex;
    align-items: center;
    width:100%; 
    z-index: 2; 
}

.navBar.scrolled {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #001a295b;

}

.navLogo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: #001A29;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.items a{
    margin: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.items a:hover{
    color:#096eb5;
}

.toggle{
    display: none;
}

.toggle:hover{
    cursor: pointer;
}

.noMostrar{
    display: none;
}

/* SWIPER   */
.swiper1 {
    width: 100%;
    height: 100%;
    margin-top: -70px;
  }
  
  .swiper-slide1 {
    text-align: center;
    font-size: 18px;
    background: #41667F;
    border-radius: 10px;
    max-width: 300px;
    max-height: 500px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide1 img {
    display: block;
    
    object-fit: cover;
  }

  .swiper2 {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
  }
  
  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #003459;
    border-radius: 10px;
    max-width: 200px;
    margin: 10px;

    max-height: 500px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide2 img {
    display: block;
    
    object-fit: cover;
  }



  @media (max-width: 800px) { 
    .swiper-slide1 {

        max-width: 300px;
        max-height: 500px;

      }

      .swiper-slide2 {

        max-width: 300px;
        max-height: 500px;

      }

  }

@media (max-width: 768px) {

    .navBar{
        justify-content: space-between;
    }
    
    .navBar.open{
        background-color: #003459;
        transition: 0.3s ease all;
        

    }

    .navLogo.open{
        color: rgb(255, 255, 255);
        transition: 0.3s ease all;
    }

    .items{
        position: absolute;
        top: 80px;
        left: 0;
        font-size: 25px;
        background-color: #003459;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: 0.3s ease all;
        z-index: 1;

    }
    
    .items ul li{
        color: rgb(255, 255, 255);
        width: 100px;
    }

    .items:hover{
        color: #939393;
    }

    .items.open{
        transform: translateX(0) !important;
    }

    .toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .toggle span{
        width: 30px;
        height: 4px;
        background-color: #ffffff;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
        background-color: rgb(255, 255, 255);

    }

    .toggle.open > span:nth-child(2){
        display: none;
    }

    .toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
        background-color: rgb(255, 255, 255);

    }

    .swiper-slide1 {

        max-width: 300px;
        max-height: 400px;

      }

      .swiper-slide2 {

        max-width: 300px;
        max-height: 400px;

      }
}
  

